body {
  font-family: "Raleway", sans-serif;
}

/* Navbar */
.bg-black {
  background-color: #000 !important; /* Establecemos el fondo en negro */
}

/* Hero Section */
#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Instagram en header en vez de footer para que sea aún más visible su contenido en RRSS */
.instagram {
  display: flex;
  justify-content: flex-end;
}

.instagram h2 {
  font-size: 1em;
  padding: 0 20px 0 0;
}

.instagram a {
  transform: translate(0, -20px);
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card:hover {
  transform: scale(1.1);
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

